# IntelliJ/Android Studio
*.iml
.idea/

# Gradle cache & wrappers
.gradle/
gradle-wrapper.jar
gradle-wrapper.properties

# Build outputs (all modules)
**/build/
**/captures/

# Local config files
local.properties

# Firebase secret files
**/google-services.json

# Native build artifacts
.externalNativeBuild/
.cxx/

# OS junk
.DS_Store
Thumbs.db
